.divApp{
    background-color: aqua;
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: justify;  
    background-position: center center;
}
