.divCard{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    align-items: center;
    padding: 15px;
    width: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 10px;
    background-color: rgb(0, 250, 62, 0.70);
    text-align: center;
    box-shadow: 10px 10px 5px 0px rgb(0, 43, 11);
    height: 300px;
    color:rgb(0, 52, 0);

}

.imgCard{
    background-color: rgb(255, 187, 0);
    padding: 2px;
    width: 70%;
    height:50%;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 0px rgb(0, 43, 11);
}

.nameCard{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
}

.divTiposCard{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: 10px;
    margin: 5px;
    padding: 10px;
    background-color: rgb(114, 255, 149,0.5);
}

.buttonCard{
    background-color: rgb(255, 187, 0);
    color: rgb(0, 89, 255);
    width: auto;
    height: auto;
    padding: 5px;
    margin: 10px;
    margin-top: 15px;
    font-weight: bold;
    font-size: small;
}


.buttonCard:hover{
    background-color:rgb(41, 184, 136);
    color: rgb(248, 244, 4);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.5);
}